<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
<meta charset="UTF-8">
<title>本の登録</title>
</head>
<link th:href="@{/css/main.css}" rel="stylesheet" type="text/css">
<body  style="background-color: rgb(0, 128, 255);">
	<h1>～[[${account.name}]]さん、本を登録してください～</h1>
	<form method="post" th:object="${bookShelf}" class="bookInfo">
		<input type="hidden" th:field="*{userId}">
		ISBNコード(97からはじまる13桁のコード)：<input text="text" style="width: 150px;" th:field="*{commonBookId}">
		<input class="btn" style="min-width:50px;margin-left:10px;" type="submit" value="本を検索" th:formaction="@{/getCommonBook}">
		
		<div th:if="${commonBook}" th:object="${commonBook}">
			<hr>
			<div style="text-align: center; width: 100%;"><input class="btn" type="submit" value="この本を本棚に登録" th:formaction="@{/registNewBookOK}"></div>
			<hr>
			<div style="float: left;"><img th:src="*{thumbnail}" ></img></div>
			<div>
				<ul style="list-style: none;">
					<li class="bookDetail">タイトル：[[*{title}]]</li>
					<li class="bookDetail">著者：[[*{authors}]]</li>
					<li class="bookDetail">出版社：[[*{publisher}]]</li>
					<li class="bookDetail">ページ数：[[*{pageCount}]]</li>
					<li class="bookDetail">ISBNコード：[[*{commonBookId}]]</li>
				</ul>
			</div>
<!--			<span th:object="${commonBook}">
				タイトル：<span th:text="*{title}"></span><br>
				著者：<span th:text="*{authors}"></span><br>
				出版社：<span th:text="*{publisher}"></span><br>
				ページ数：<span th:text="*{pageCount}"></span><br>
				ISBN：<span th:text="*{commonBookId}"></span><br>
				<img th:src="*{thumbnail}"></img><br>
			</span>	<br>-->
		</div>
		<ul th:if="${#fields.hasErrors('*')}" style="color:red">
			<li th:each="err:${#fields.errors('*')}" th:text="${err}"></li>
		</ul>
	</form>
<!--/*	<div th:if="${commonBook}">
		<hr>
		<span th:object="${commonBook}">
			タイトル：<span th:text="*{title}"></span><br>
			著者：<span th:text="*{authors}"></span><br>
			出版社：<span th:text="*{publisher}"></span><br>
			ページ数：<span th:text="*{pageCount}"></span><br>
			<img th:src="*{thumbnail}"></img><br>
		</span>
	</div> */ -->
<!--/*	<h1>ようこそ[[${loginUser.name}]]さん</h1>*/-->
	<div class="menuSet" style="clear:both;">
		<a class="menu" th:href="@{/top}">📘あなたの本棚へもどる</a><br>
	</div>
</body>
</html>