<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
<meta charset="UTF-8">
<title>ユーザの削除</title>
</head>
<link th:href="@{/css/main.css}" rel="stylesheet" type="text/css">
<body style="background-color: rgb(0, 128, 255);">
	<h1>以下の内容を削除しますか</h1>
	<div class="info">
		<p>名前:[[${account.name}]]</p>
		<p>年齢:[[${account.age}]]</p>
	</div>
	<div class="menuSet">
		<a class="menu" th:href="@{/removeOK}">😭退会する</a><br>
		<a class="menu" th:href="@{/userInfo}">⚙️ユーザ情報画面へ</a>
	</div>
</body>
</html>